<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="assets/css/reglas_nav_banner.css">
        <link rel="stylesheet" href="assets/css/soy_importante.css">
        <link rel="stylesheet" href="assets/css/footer.css">



        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <!-- ========= Favicon ========== -->

        <link rel="shortcut icon" type="image/jpg" href="assets/icons/fabicon.png"/>

        <title>Soy Importante - Fundación Para La Niñez | Funaje</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <img src="assets/icons/mini_logo_funaje.png" alt="" height="40px" width="40px">
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="home" class="nav__link ">QUIENES SOMOS</a></li>
                        <li class="nav__item"><a href="conocenos" class="nav__link ">CONOCENOS</a></li>

                        <li class="nav__item nav_horizontal">
                            <span class="nav__link">PROGRAMAS</span>

                            <ul class="nav__item programas_nav">
                                <li class="programas_nav_li "><a href="soyimportante" class="nav__link link_program">Soy Importante</a></li>
                                <li class="programas_nav_li"><a href="saludybienestar" class="nav__link link_program">Salud Y Bienestar</a></li>
                                <li class="programas_nav_li"><a href="habilidades" class="nav__link link_program">Habilidades</a></li>
                                <li class="programas_nav_li"><a href="soyutil" class="nav__link link_program">Soy Util</a></li>
                            </ul>
       
                        </li>
                        <li class="nav__item"><a href="agenda" class="nav__link">AGENDA</a></li>
                        <li class="nav__item"><a href="contacto" class="nav__link">CONTACTO</a></li>
                        <li class="nav__item"><a href="login" class="nav__link"><i class='uil uil-user'></i></a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
          <!--==================== HOME ====================-->
            <section class="home " id="home">

                <div class="home__container">
                    <div class="home__info">
                        <h1>Soy importante para Dios</h1>
                        <p>Con el poder del amor, transformamos pequeñas vidas, sembrando semillas de esperanza y nutriendo corazones con bondad infinita. Juntos, creamos un mundo donde cada gesto cuenta y cada sonrisa marca la diferencia. Únete a nosotros en este viaje de cambio y compasión.</p>
                        <div class="home__butoms">
                            <a class="home__apoyar" href="apoyar">Quiero Apoyar</a>
                        </div>
                    </div>
                </div>
              
            </section>

            <!--===== About =====-->
            <section class="about section " id="about">
                <h2 class="section-title">¿De que trata?</h2>
                
                <div class="about__container bd-grid ">
                      
                    <div class="about__texo">
                        <p class="about__texo" >Fundación Amigos de Jesús FUNAJE se centra en brindar apoyo integral a niños y jóvenes en situaciones de vulnerabilidad, promoviendo su desarrollo emocional, espiritual y social. A través de una variedad de actividades, talleres y encuentros, el programa busca fortalecer la autoestima y el sentido de identidad de cada niño, recordándoles su valor intrínseco como seres humanos amados por Dios.</p>
                    </div>

                    <div class="about__card">
                        <p>Desarrollo Emocional: Se ofrecen espacios seguros y de confianza donde los niños pueden expresar sus emociones, aprender a gestionar el estrés y fortalecer su resiliencia emocional.</p>
                    </div>
                    <div class="about__card">
                        <p>Educación Espiritual: Se imparten enseñanzas y valores basados en principios éticos y espirituales, promoviendo la compasión, el perdón y el amor hacia sí mismos y hacia los demás.</p>
                    </div>
                    <div class="about__card">
                        <p>Formación Integral: Se brinda apoyo académico y formativo para fomentar el desarrollo cognitivo, creativo y físico de los niños, así como también se ofrecen actividades deportivas, artísticas y recreativas.</p>
                    </div>
                    <div class="about__card --img">
                    </div>
                    <div class="about__card">
                        <p>Acompañamiento Individualizado: Cada niño recibe atención personalizada y seguimiento continuo por parte de profesionales y voluntarios comprometidos, quienes les ofrecen orientación y apoyo en su crecimiento personal y espiritual.</p>
                    </div>


                </div>

            </section>

        </main>



        <!--===== FOOTER =====-->
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__img">
                    <img src="assets/icons/Logo_amigos_de_Jesus.png" alt="">
                </div>
                <div class="footer__link">
                    <a href="conocenos">Conocenos</a>
                    <a href="">Nuestros Programas</a>
                    <a href="documentos">Documentos legales</a>
                    <a href="contacto">Contactanos</a>
                    <ul class="footer__lista">
                        <li>"Fijo - 6738343"</li>
                        <li>+57 313 395 76 93</li>
                        <li>+57 313 807 72 36</li>                
                    </ul>
                </div>
                <div class="footer__social">
                    <a href="https://www.facebook.com/funaje.cdi" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                    <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" class="footer__icon"><i class='bx bxl-youtube' ></i></a>
                </div>
                <p class="footer_copy">&#169; copyright Todos Los Derechos Reservados. 2019 - <span id="yeard_current"></span></p>
            </div>

        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://www.facebook.com/funajee"></script>

        <!--===== MAIN JS =====-->
        <script src="assets/js/helpers.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
