<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="assets/css/reglas_nav_banner.css">
        <link rel="stylesheet" href="assets/css/saludybienestar.css">
        <link rel="stylesheet" href="assets/css/footer.css">



        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <!-- ========= Favicon ========== -->

        <link rel="shortcut icon" type="image/jpg" href="assets/icons/fabicon.png"/>

        <title>Salud Y Bienestar - Fundación Para La Niñez | Funaje</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <img src="assets/icons/mini_logo_funaje.png" alt="" height="40px" width="40px">
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="home" class="nav__link ">QUIENES SOMOS</a></li>
                        <li class="nav__item"><a href="conocenos" class="nav__link ">CONOCENOS</a></li>

                        <li class="nav__item nav_horizontal">
                            <span class="nav__link">PROGRAMAS</span>

                            <ul class="nav__item programas_nav">
                                <li class="programas_nav_li "><a href="soyimportante" class="nav__link link_program">Soy Importante</a></li>
                                <li class="programas_nav_li "><a href="saludybienestar" class="nav__link link_program">Salud Y Bienestar</a></li>
                                <li class="programas_nav_li"><a href="habilidades" class="nav__link link_program">Habilidades</a></li>
                                <li class="programas_nav_li"><a href="soyutil" class="nav__link link_program">Soy Util</a></li>
                            </ul>
       
                        </li>
                        <li class="nav__item"><a href="agenda" class="nav__link">AGENDA</a></li>
                        <li class="nav__item"><a href="contacto" class="nav__link">CONTACTO</a></li>
                        <li class="nav__item"><a href="login" class="nav__link"><i class='uil uil-user'></i></a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
          <!--==================== HOME ====================-->
            <section class="home " id="home">

                <div class="home__container">
                    <div class="home__info">
                        <h1>Salud y bienestar</h1>
                        <p>La salud y el bienestar son elementos fundamentales que influyen en la calidad de vida de las personas en todo el mundo. Estos conceptos abarcan tanto el aspecto físico como el mental, e implican un equilibrio armónico entre diferentes dimensiones, como la nutrición adecuada, la actividad física regular, el descanso reparador y el bienestar emocional.</p>
                        <div class="home__butoms">
                            <a class="home__apoyar" href="apoyar">Quiero Apoyar</a>
                        </div>
                    </div>
                </div>
              
            </section>

            <!--===== About =====-->
            <section class="about section " id="about">
                <h2 class="section-title">¿De que trata?</h2>
                
                <div class="about__container bd-grid ">
                      
                    <div class="about__texto">
                        <p class="about__texo" >La Fundación Amigos de Jesús (FUNAJE) se dedica apasionadamente a promover la salud y el bienestar integral de la niñez, abordando las necesidades físicas, emocionales y sociales de los niños y niñas más vulnerables. A través de programas innovadores y acciones concretas, FUNAJE busca proporcionar un entorno seguro y afectuoso donde los niños puedan crecer y desarrollarse plenamente. Esto incluye acceso a atención médica de calidad, una alimentación adecuada, educación en hábitos saludables.</p>
                    </div>

                    <div class="slider slider__about">

                        <div class="slider__side slider__grid activado">
                            <div class="slider__img" >
                                <img src="./assets/img/salud_y_bienestar/salud_y_bienestar_banner_1.jpg" alt="">
                            </div>          
                        </div>

                        <div class="slider__side slider__grid">

                            <div class="slider__img">
                                <img src="./Assets/img/salud_y_bienestar/salud_y_bienestar_banner_2.jpg" alt="">
                            </div>
                        </div>

                        <div class="slider__side slider__grid">

                            <div class="slider__img" >
                                <img src="./assets/img/salud_y_bienestar/salud_y_bienestar_banner_3.jpg" alt="">
                            </div>
                        </div>

                        <div class="slider__navegacion">
                            <div class="slider__btn activado"></div>
                            <div class="slider__btn"></div>
                            <div class="slider__btn"></div>
                        </div>

                    </div>

                    <div class="about__card card1">
                        <p><strong>Atención médica integral:</strong>
                            <br>
                            FUNAJE prioriza la salud física de los niños proporcionando acceso a atención médica integral. Esto incluye consultas regulares, vacunaciones, tratamiento de enfermedades comunes, la atención médica se brinda de manera compasiva y respetuosa, con un enfoque en la prevención y el cuidado continuo de la salud.</p>
                    </div>
                    <div class="about__card card2">
                        <p><strong>Nutrición adecuada:</strong>
                            La fundación reconoce la importancia de una alimentación equilibrada para el crecimiento y desarrollo óptimos de los niños. Por lo tanto, se asegura de ofrecer comidas nutritivas y balanceadas que satisfagan las necesidades nutricionales específicas de cada niño, Esto incluye alimentos frescos y variados. </p>
                    </div>
                    <div class="about__card card3">
                        <p><strong>Apoyo emocional y psicológico:</strong>
                            <br>
                            En FUNAJE, se entiende que el bienestar emocional es fundamental para el desarrollo integral de los niños. Por lo tanto, se brinda apoyo emocional y psicológico a través de programas de asesoramiento, actividades terapéuticas y espacios seguros para expresar emociones para que puedan cultivar relaciones positivas.</p>
                    </div>
                     <!-- <div class="about__texto2">
                        <p class="about__texo" ></p>
                    </div> -->
                    <div class="about__card card4">
                        <div class="about__card-imagen"></div>
                        <p><strong>Educación en hábitos saludables:
                        </strong>
                        <br>
                        La promoción de hábitos saludables es un pilar fundamental en FUNAJE. Se imparten programas educativos sobre higiene personal, actividad física, prevención de enfermedades y cuidado del medio ambiente.</p>
                    </div>

                </div>

            </section>

        </main>



        <!--===== FOOTER =====-->
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__img">
                    <img src="assets/icons/Logo_amigos_de_Jesus.png" alt="">
                </div>
                <div class="footer__link">
                    <a href="conocenos">Conocenos</a>
                    <a href="">Nuestros Programas</a>
                    <a href="documentos">Documentos legales</a>
                    <a href="contacto">Contactanos</a>
                    <ul class="footer__lista">
                        <li>"Fijo - 6738343"</li>
                        <li>+57 313 395 76 93</li>
                        <li>+57 313 807 72 36</li>                
                    </ul>
                </div>
                <div class="footer__social">
                    <a href="https://www.facebook.com/funajee" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                    <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" class="footer__icon"><i class='bx bxl-youtube' ></i></a>
                </div>
                <p class="footer_copy">&#169; copyright Todos Los Derechos Reservados. 2019 - <span id="yeard_current"></span></p>
            </div>

        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="assets/js/helpers.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
