<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="assets/css/home.css">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <!-- ========= Favicon ========== -->

        <link rel="shortcut icon" type="image/jpg" href="assets/icons/fabicon.png"/>

        <title>Quienes Somos - Fundación Para La Niñez | Funaje</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <img src="assets/icons/mini_logo_funaje.png" alt="" height="40px" width="40px">
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="home" class="nav__link active">QUIENES SOMOS</a></li>
                        <li class="nav__item"><a href="conocenos" class="nav__link">CONOCENOS</a></li>

                        <li class="nav__item nav_horizontal">
                            <span class="nav__link">PROGRAMAS</span>

                            <ul class="nav__item programas_nav">
                                <li class="programas_nav_li"><a href="soyimportante" class="nav__link link_program">Soy Importante</a></li>
                                <li class="programas_nav_li"><a href="saludybienestar" class="nav__link link_program">Salud Y Bienestar</a></li>
                                <li class="programas_nav_li"><a href="habilidades" class="nav__link link_program">Habilidades</a></li>
                                <li class="programas_nav_li"><a href="soyutil" class="nav__link link_program">Soy Util</a></li>
                            </ul>
       
                        </li>
                        <li class="nav__item"><a href="agenda" class="nav__link">AGENDA</a></li>
                        <li class="nav__item"><a href="contacto" class="nav__link">CONTACTO</a></li>
                        <li class="nav__item"><a href="login" class="nav__link"><i class='uil uil-user'></i></a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
          <!--==================== HOME ====================-->
            <section class="home " id="home">

                <div class="home__container">
                    <div class="home__info">
                        <h1>CAMBIENDO PEQUEÑAS VIDAS CON LA FUERZA DEL AMOR</h1>
                        <p>Con el poder del amor, transformamos pequeñas vidas, sembrando semillas de esperanza y nutriendo corazones con bondad infinita. Juntos, creamos un mundo donde cada gesto cuenta y cada sonrisa marca la diferencia. Únete a nosotros en este viaje de cambio y compasión.</p>
                        <div class="home__butoms">
                            <a class="home__apoyar" href="apoyar">Quiero Apoyar</a>
                            <a class="home__sabermas" href="#about">Saber más</a>
                        </div>
                    </div>
                </div>
              
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">Una Fundación Para Niñez</h2>

                <div class="about__container bd-grid">

                    <div class="about__img about__img-modificar">
                        <img src="assets/img/home/quienes_somos.jpg" alt="">
                    </div>

                    <div>
                        <h3 class="about__subtitle">Funaje (Fundacion Amigos de jesus)</h3>
                        <p class="about__text">Somos una entidad sin ánimo de lucro, comprometida especialmente con la niñez y adolescencia, promoviendo su bienestar, garantizando acompañamiento y atención integral, gestionando y brindando herramientas que les permita crecer sanos física, cognoscitiva, socio emocional y espíritualmente.</p>
                    </div>
                </div>
                <div class="about__circulos_content">
                  <div class="circulo_content">
                        <div class="circulo_info">
                          <img src="assets/icons/apoyo_w.png" alt="">
                        </div>
                        <span class="circulo_p">12 Años</span>
                        <span class="circulo_p_small">Apoyando</span>
                    </div>

                  <div class="circulo_content">
                        <div class="circulo_info">
                          <img src="assets/icons/family_w.png" alt="">
                        </div>
                        <span class="circulo_p">711</span>
                        <span class="circulo_p_small">Beneficiarios</span>

                  </div>

                  <div class="circulo_content">
                        <div class="circulo_info">
                          <img src="assets/icons/programas_w.png" alt="">
                        </div>
                        <span class="circulo_p">5</span>
                        <span class="circulo_p_small">Programas</span>
                  </div>

                  <div class="circulo_content">
                        <div class="circulo_info">
                          <img src="assets/icons/ubicacion_w.png" alt="">
                        </div>
                        <span class="circulo_p">3</span>
                        <span class="circulo_p_small">Sedes</span>
                  </div>

                </div>
            </section>

            <!-- ===== Que Hemos ======-->

            <section class="quehacemos section" >
                <h2 class="section-title title-que">¿Que hacemos?</h2>
                <div class="quehacemos__container bd-grid grid_quehacemos">
                    
                    <div class="slider slider_quehacemos">

                        <div class="slider__side slider__grid activado">
                            <div class="slider__img" >
                                <img src="Assets/img/home/slider_1.jpg" alt="Es una imagen de la sala de computo de la sede de porfia">
                            </div>
                            <div class="slider__info">
                                <h3>Contribuimos con la educación</h3>
                                <p>Brindamos asesoramiento a los niños en sus deberes académico gracias a una sala de cómputo para estudios.</p>
                            </div>              
                        </div>

                        <div class="slider__side slider__grid">

                            <div class="slider__img">
                                <img src="Assets/img/home/slider_2.jpg" alt="Aqui se muestra a la psicológa junto a unas chicas de la fundacion">
                            </div>
                            <div class="slider__info">
                                <h3>Asesoramiento emocional</h3>
                                <p>Nos comprometemos por la salud mental de los niños como brindar ayuda psicológica a niños y niñas que hayan experimentado algún tipo de abuso físico o emocional.</p>
                            </div>
                        </div>

                        <div class="slider__side slider__grid">

                                <div class="slider__img" >
                                    <img src="Assets/img/home/slider_3.jpg" alt="En esta imagen se ven a una niña tocando un violin que demuestra el talento que Dios le dío">
                                </div>
                                <div class="slider__info">
                                <h3>Programas de crecimiento</h3>
                                <p>Contamos con programas para los niños en el cual desarrollen habilidades físicas, emocionales, espirituales y cognitivas.</p>
                            </div>
                        </div>


                        <div class="slider__navegacion">
                            <div class="slider__btn activado"></div>
                            <div class="slider__btn"></div>
                            <div class="slider__btn"></div>
                        </div>

                    </div>

                </div>
           </section>

            <!--===== Nuestros programas=====-->
            <section class="programas section" id="programas">
                <h2 class="section-title ">Nuestos Programas.</h2>

                <div class="programas__container bd-grid programas-grid">
                    <div class="programas__parrafo">
                        <p>Gracias a los aportes de personas o entidades con responsabilidad social, hemos podido avanzar con programas basados en las necesidades de la población vulnerable de tipo social, económico y cultural, esperando trasformar de forma positiva, no solo la niñez, sino su entorno familiar, a través de 4 áreas integrales, espiritual, física, cognitiva y socioemocional.</p>
                        <br>
                    </div>

                    <div class="programas__card card1">
                         <div>
                            <img src="assets/img/home/niños-orando.jpg" alt="">
                        </div>
                        <div class="programas__info">
                            <h3 class="programas__subtitle">Soy importante para Dios</h3>
                            <p>Es un recordatorio poderoso que deseamos grabar en los corazones de cada niño en nuestra fundación. En nuestro camino hacia una mayor comunión con Dios, es esencial comprender que cada uno de nosotros tiene un propósito único y valioso en el plan divino.</p>
                            <!-- <a href="" class="programas__link">Ver Más</a> -->
                        </div>
                    </div>

                    <div class="programas__card card1">
                        <div>
                            <img src="assets/img/home/salud_bienestar.jpg" alt="">
                        </div>
                        <div class="programas__info">
                            <h3 class="programas__subtitle">Salud y bienestar</h3>
                            <p>En nuestra búsqueda por promover la salud y el bienestar entre los niños de la Fundación Funaje, reconocemos la importancia de cultivar hábitos saludables y fomentar un ambiente de recreación positiva.</p>
                            <!-- <a href="" class="programas__link" >Ver Más</a> -->
                        </div>
                    </div>

                    <div class="programas__card card1">
                        <div>
                            <img src="assets/img/home/cognitiva.jpg" alt="">
                        </div>
                        <div class="programas__info">
                            <h3 class="programas__subtitle">Habilidades para la vida</h3>
                            <p>En nuestra incansable labor por fortalecer a los niños de la Fundación Funaje, reconocemos la importancia de impartir habilidades para la vida que les empoderen en su crecimiento personal y les preparen para los desafíos futuros.</p>
                            <!-- <a href="" class="programas__link">Ver Más</a> -->
                        </div>
                    </div>

                     <div class="programas__card card1">
                        <div>
                            <img src="assets/img/home/siviendo-comunidad.jpg" alt="">
                        </div>
                        <div class="programas__info">
                            <h3 class="programas__subtitle">Sirviendo a mi comunudad</h3>
                            <p>En nuestra misión de educar y guiar a los niños de la Fundación Funaje, reconocemos la importancia fundamental de enseñarles el valor de servir a su comunidad. A través de esta actividad, buscamos inculcar en ellos un sentido de responsabilidad y empatía hacia los demás.</p>
                            <!-- <a href="" class="programas__link">Ver Más</a> -->
                        </div>

                    </div>

                </div>
                <!-- <hr style="width: 54%;"> -->
            </section>

            <!--===== Actividades Semanales=====-->
            <section class="actividades section" id="actividades">
                <h2 class="section-title">Eventos destacados del més</h2>

                <div class="actividades__container bd-grid" id="data_actividades_cards">

                </div>
                
            </section>

               

            <!--===== formas de apoyar ====== -->
            <section class="apoyar section" id="work">
                <h2 class="section-title">Formas de ayudar</h2>
                <p class="apoyar__text">"Hemos visto muchas vidas que han cambiado su futuro gracias al apoyo inquebrantable de personas comprometidas como tú. Únete a la Fundación Amigos de Jesús y sé parte del cambio que transforma la vida de los niños, brindándoles un camino hacia un futuro más brillante. Tu contribución puede marcar la diferencia, ya sea a través de una donación única, recurrente o cooperativa. ¡Juntos podemos construir un mejor mañana para aquellos que más lo necesitan!"</p>
                
                <div class="about__container bd-grid ayudar__grid">

                    <a class="apoyar__card" href="apoyar">
                        <span></span>
                        <div class="apoyar__img">
                            <img src="assets/icons/unica.png" alt="">
                        </div>

                        <div class="apoyar__info">
                            <h3 class="section-subtitle-h3">Donación Única</h3>
                            <p>Tu contribución única puede marcar un impacto inmediato y significativo en nuestras iniciativas</p>
                        </div>
                    </a>

                    <a class="apoyar__card" href="apoyar">
                        <span></span>
                        <div class="apoyar__img">
                            <img src="assets/icons/recurrente.png" alt="">
                        </div>

                        <div class="apoyar__info">
                            <h3  class="section-subtitle-h3">Donación Recurrente</h3>
                            <p>permite planificar y ejecutar proyectos a largo plazo para aquellos que más lo necesitan.</p>
                        </div>
                    </a>

                    <a class="apoyar__card" href="apoyar">
                        <span>
                            <!-- <a href="www.google.com"></a> -->
                        </span>
                        <div class="apoyar__img">
                            <img src="assets/icons/corporativo.png" alt="">
                        </div>

                        <div class="apoyar__info">
                            <h3  class="section-subtitle-h3">Donación Corporativa</h3>
                            <p>su organización puede desempeñar un papel crucial en el impulso de proyectos de desarrollo comunitario.</p>
                        </div>
                    </a>

                </div>
        </main>



        <!--===== FOOTER =====-->
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__img">
                    <img src="assets/icons/Logo_amigos_de_Jesus.png" alt="">
                </div>
                <div class="footer__link">
                    <a href="conocenos">Conocenos</a>
                    <a href="">Nuestros Programas</a>
                    <a href="documentos">Documentos legales</a>
                    <a href="contacto">Contactanos</a>
                    <ul class="footer__lista">
                        <li>"Fijo - 6738343"</li>
                        <li>+57 313 395 76 93</li>
                        <li>+57 313 807 72 36</li>                
                    </ul>
                </div>
                <div class="footer__social">
                    <a href="https://www.facebook.com/funajee" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                    <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" class="footer__icon"><i class='bx bxl-youtube' ></i></a>
                </div>
                <p class="footer_copy">&#169; copyright Todos Los Derechos Reservados. 2019 - <span id="yeard_current"></span></p>
            </div>

        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/actividades_home.js"></script>
        <script src="assets/js/helpers.js"></script>

    </body>
</html>         