<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="assets/css/reglas_nav_banner.css">
        <link rel="stylesheet" href="assets/css/login.css">




        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <!-- ========= Favicon ========== -->

        <link rel="shortcut icon" type="image/jpg" href="assets/icons/fabicon.png"/>

        <title>login - Fundación Para La Niñez | Funaje</title>
    </head>
    <body>
        <main class="l-main">
          <!--==================== HOME ====================-->
            <section class="home " id="home">

                <div class="home__container">

                
                        <img class="home__logo" alt="" src="./assets/img/login/Logo amigos de Jesus.png">
                        <form id="formulario_login">
                            <label  for="">Usuario</label>
                            <input name="usuario" class="input___text" type="text">
                            <label  for="">contraseña</label>
                            <input name="password" class="input___text"type="password">
                            <input class="btn" type="submit" value="Ingresar">
                        </form>
                </div>
            </section>
        </main>

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/login.js"></script>
    </body>
</html>
