<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="assets/css/reglas_nav_banner.css">
        <link rel="stylesheet" href="assets/css/documentos.css">
        <link rel="stylesheet" href="assets/css/footer.css">



        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <!-- ========= Favicon ========== -->

        <link rel="shortcut icon" type="image/jpg" href="assets/icons/fabicon.png"/>

        <title>Conocenos - Fundación Para La Niñez | Funaje</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <img src="assets/icons/mini_logo_funaje.png" alt="" height="40px" width="40px">
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="home" class="nav__link ">QUIENES SOMOS</a></li>
                        <li class="nav__item"><a href="conocenos" class="nav__link ">CONOCENOS</a></li>

                        <li class="nav__item nav_horizontal">
                            <span class="nav__link">PROGRAMAS</span>

                            <ul class="nav__item programas_nav">
                                <li class="programas_nav_li"><a href="soyimportante" class="nav__link link_program">Soy Importante</a></li>
                                <li class="programas_nav_li"><a href="saludybienestar" class="nav__link link_program">Salud Y Bienestar</a></li>
                                <li class="programas_nav_li"><a href="habilidades" class="nav__link link_program">Habilidades</a></li>
                                <li class="programas_nav_li"><a href="soyutil" class="nav__link link_program">Soy Util</a></li>
                            </ul>
       
                        </li>
                        <li class="nav__item"><a href="agenda" class="nav__link">AGENDA</a></li>
                        <li class="nav__item"><a href="contacto" class="nav__link">CONTACTO</a></li>
                        <li class="nav__item"><a href="login" class="nav__link"><i class='uil uil-user'></i></a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
          <!--==================== HOME ====================-->
            <section class="home " id="home">

                <div class="home__container">
                    <!-- <div class="home__img">
                        <img src="http://localhost/Funaje/assets/img/conocenos/sobre_nosotros.jpg" alt="">
                    </div> -->
                    <div class="home__info">
                        <h1>Legalidad Y Trasparencia</h1>
                        <!-- <p>Somos una entidad sin ánimo de lucro, comprometida especialmente con la niñez y adolescencia, promoviendo su bienestar, garantizando acompañamiento y atención integral, gestionando y brindando herramientas que les permita crecer sanos física, cognoscitiva, socio emocional y espiritualmente.</p> -->
                    </div>
                </div>
              
            </section>

            <!--===== About =====-->
            <section class="about section " id="about">
                <!-- <h2 class="section-title">Fundación Para Niñez</h2> -->

                <div class="about__container bd-grid ">  

                    <div class="about__card item1">
                        <h2>Objeto social</h2>
                        <p>La fundacion tendra por objeto: 1. fortalecer y elevar en el departamento del meta los niveles de capacitacion y desempeño de programas en ayuda humanitaria, protección y promocion de los derechos humanos en especial los derechos de los niños, mediante el desarrollo de programas educativos, laborales y asesoria en proyectos productivos, implementos de aseo, reciclaje, avicultura, fabrica de calzado, panaderia, confeccion de ropa deportiva, deporte y recreación, cultura, artesanias, turismo, belleza, bienestar social y protección del medio ambiente, fogones comunitarios, suministros en general y comedores comunitarios.</p>
                        <br>
                        <p>Mediante la creación de comites que presten servicios y que generen empleo y mejoren la calidad de vida de los sectores marginados de la población como madres cabeza de familia y niños en alto riesgo, para desarrollar nuevas propuestas de soluciones a las problemáticas sociales que afectan a las clases menos favorecidas primordialmente a los núcleos familiares de los asociados y seguidamente a la comunidad en general.</p>
                    </div>
                    
                    <div class="about__card item2">
                        <h2>Constitución</h2>
                        <p>Por acta del 26 de noviembre de 2008 de la asamblea constitutiva, registrado en esta cámara de comercio bajo el número 17240 del libro i del registro de entidades sin ánimo de lucro el 23 de diciembre de 2008, se inscribe : la constitución de persona juridica denominada fundacion amigos de jesus.</p>
                    </div>

                    <div class="about__card">
                        <div class="about__lista">
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/ACTA ASAMBLEA GENERAL FUNAJE.pdf" target="_blank">Acta Asamblea General Funaje 2020.</a>
                            </div>
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/Acta Asamblea General 2021.pdf" target="_blank">Acta Asamblea General 2021.</a>
                            </div>
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/Antecedentes Fundadores.pdf" target="_blank">Antecedentes Fundadores.</a>
                            </div>
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/CERTIFICADO ANTECEDENTES JUDICIALES.pdf" target="_blank">Certificados Antecedentes Judiciales.</a>
                            </div>
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/CERTIFICADO DE EXISTENCIA REPRESENTACION.pdf" target="_blank">Certificado De Existencia Representacion 2021.</a>
                            </div>
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/Certificado de Existencia y Representacion funaje.pdf" target="_blank">Certificado De Existencia Representacion Funaje 2020.</a>
                            </div>
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/CERTIFICADO REPRESENTANTE LEGAL FUNAJE.pdf" target="_blank">Certificado Representante Legal Funaje.</a>
                            </div>
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/certificado Representante Legal.pdf" target="_blank">Certificado Representante Legal.</a>
                            </div>
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/ESTADOS FINANCIEROS 2019.pdf" target="_blank">Estados Financieros 2019.</a>
                            </div>
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/Estados Financieros  Funaje.pdf" target="_blank">Estados Financieros Funaje.</a>
                            </div>
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/INFORME DE RESULTADOS Y GESTION FUNAJE.pdf" target="_blank">Informe De Resultados Gestion Funaje.</a>
                            </div>
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/RENTA 2018.pdf" target="_blank">Renta 2018.</a>
                            </div>                                           
                             <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/CERTIFICADO EXISTENCIA Y REPRESENTACION.pdf" target="_blank">Certificado de existencia y representacion.</a>
                            </div>                           
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/CERTIFICADO ESTADOS FINANCIEROS REPRESENTANTE LEGAL.pdf" target="_blank">Certficado Estados Financieros Representante Lelgal.</a>
                            </div>                          
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/ANTECEDENTES FUNDADORES FUNAJE.pdf" target="_blank">Antecedentes Fundadores Funaje.</a>
                            </div>                   
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/ESTADOS FINANCIEROS 2021.pdf" target="_blank">Estados Financieros 2021.</a>
                            </div>                                                 
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/ACTA # 13 FUNAJE 2022.pdf" target="_blank">Acta # 13 Funaje 2022.</a>
                            </div>
                            
                            
                             <!-- los nuevos documentos de  2023 -->
                            
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/CERTIFICADO EXISTENCIA FUNAJE.pdf" target="_blank">Certificado Existencia Funaje.</a>
                            </div>
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/ESTADOS FINANCIEROS FUNAJE 2023.pdf" target="_blank">Estados Financieros Funaje 2023.</a>
                            </div>                            
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/ANTESEDENTES FUNDADORES FUNAJE.pdf" target="_blank">Antesedentes Fundadores Funaje.</a>
                            </div>                           
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/Acta # 14 Funaje 2023.pdf" target="_blank">Acta # 14 Funaje 2023.</a>
                            </div>

                            <!-- los nuevos documentos de  2024 -->
                            
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/CERTIFICADO EXISITENCIA Y FUNAJE 2024.pdf" target="_blank">Certificado Existencia Funaje 2024.</a>
                            </div>
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/ESTADOS FINANCIEROS 2024 FUNAJE.pdf" target="_blank">Estados Financieros Funaje 2024.</a>
                            </div>                            
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/ANTECEDENTES SOCIOS FUNDADORES FUNAJE 2024.pdf" target="_blank">Antesedentes Fundadores Funaje 2024.</a>
                            </div>                           
                            <div class="documentacion__link">
                                <img src="assets/icons/pdf.png">
                                <a href="assets/documentos/acata funaje n15 2024.pdf" target="_blank">Acta # 15 Funaje 2024.</a>
                            </div>

                        </div>
                    </div>


                    <div class="about__card">
                        
                    </div>


                </div>

            </section>

        </main>



        <!--===== FOOTER =====-->
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__img">
                    <img src="assets/icons/Logo_amigos_de_Jesus.png" alt="">
                </div>
                <div class="footer__link">
                    <a href="conocenos">Conocenos</a>
                    <a href="">Nuestros Programas</a>
                    <a href="documentos">Documentos legales</a>
                    <a href="contacto">Contactanos</a>
                    <ul class="footer__lista">
                        <li>"Fijo - 6738343"</li>
                        <li>+57 313 395 76 93</li>
                        <li>+57 313 807 72 36</li>                
                    </ul>
                </div>
                <div class="footer__social">
                    <a href="https://www.facebook.com/funajee" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                    <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" class="footer__icon"><i class='bx bxl-youtube' ></i></a>
                </div>
                <p class="footer_copy">&#169; copyright Todos Los Derechos Reservados. 2019 - <span id="yeard_current"></span></p>
            </div>

        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="assets/js/helpers.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
