<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="assets/css/reglas_nav_banner.css">
        <link rel="stylesheet" href="assets/css/conocenos.css">
        <link rel="stylesheet" href="assets/css/footer.css">



        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <!-- ========= Favicon ========== -->

        <link rel="shortcut icon" type="image/jpg" href="assets/icons/fabicon.png"/>

        <title>Conocenos - Fundación Para La Niñez | Funaje</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <img src="assets/icons/mini_logo_funaje.png" alt="" height="40px" width="40px">
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="home" class="nav__link ">QUIENES SOMOS</a></li>
                        <li class="nav__item"><a href="conocenos" class="nav__link active">CONOCENOS</a></li>

                        <li class="nav__item nav_horizontal">
                            <span class="nav__link">PROGRAMAS</span>

                            <ul class="nav__item programas_nav">
                                <li class="programas_nav_li"><a href="soyimportante" class="nav__link link_program">Soy Importante</a></li>
                                <li class="programas_nav_li"><a href="saludybienestar" class="nav__link link_program">Salud Y Bienestar</a></li>
                                <li class="programas_nav_li"><a href="habilidades" class="nav__link link_program">Habilidades</a></li>
                                <li class="programas_nav_li"><a href="soyutil" class="nav__link link_program">Soy Util</a></li>
                            </ul>
       
                        </li>
                        <li class="nav__item"><a href="agenda" class="nav__link">AGENDA</a></li>
                        <li class="nav__item"><a href="contacto" class="nav__link">CONTACTO</a></li>
                        <li class="nav__item"><a href="login" class="nav__link"><i class='uil uil-user'></i></a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
          <!--==================== HOME ====================-->
            <section class="home " id="home">

                <div class="home__container">
                    <div class="home__img">
                        <img src="http://localhost/Funaje/assets/img/conocenos/sobre_nosotros.jpg" alt="">
                    </div>
                    <div class="home__info">
                        <h1>Sobre Nosotros</h1>
                        <p>Somos una entidad sin ánimo de lucro, comprometida especialmente con la niñez y adolescencia, promoviendo su bienestar, garantizando acompañamiento y atención integral, gestionando y brindando herramientas que les permita crecer sanos física, cognoscitiva, socio emocional y espiritualmente.</p>
                    </div>
                </div>
              
            </section>

            <!--===== About =====-->
            <section class="about section " id="about">
                <!-- <h2 class="section-title">Fundación Para Niñez</h2> -->

                <div class="about__container bd-grid ">  

                    <div class="about__card item1">
                        <h2>Visíon</h2>
                        <p>Fundación Amigos de Jesús “FUNAJE” aspira ser una de las entidades líderes y pioneras en Colombia en ayuda y servicio a la comunidad como modelo de intervención social, en busca de mejorar la calidad de vida frente al deterioro de los valores, estableciendo el reino de Dios como principio.</p>
                    </div>

                    <div class="about__card item2">
                        <h2>Misíon</h2>
                        <p>Fortalecer y elevar los niveles de capacitación, protección y promoción de los derechos humanos que mejoren la calidad de vida de los sectores marginados de la población, promoviendo el bienestar especialmente de la niñez y adolescencia que se encuentran en alto riesgo de vulnerabilidad, gestionando recursos, diseñando y ejecutando programas de desarrollo integral.</p>
                    </div>

                    <div class="item3 ">
                    </div>

                    
                    <div class="about__card item4 about__img">
                        <h2>La meta</h2>
                        <p>Cambiar esas pequeñas vidas, impactando de manera positiva, a través de la intervención integral que se realice con la ayuda de recursos de donantes, aliados y gestión, donde los involucremos a ellos y sus familias en proyectos, buscando el desarrollo personal y mejorando la calidad de vida de las familias, teniendo como base principios y valores Cristo céntricos.</p>
                        <div class="about__card__img">
                            <img src="./assets/img/conocenos/metas.jpg" alt="">
                        </div>
                    </div>

                    
                    <div class="about__card item5 about__img">
                        <h2>Quienes nos apoyan</h2>
                        <p>Operamos gracias a Dios, a diferentes aliados aportantes y recursos propios de la fundación, nuestro programa de atención es basada en las necesidades de la población vulnerable de tipo social, económico y cultural.</p>
                        <div class="about__card__img">
                            <img src="./assets/img/conocenos/quienes_apoyan.jpg" alt="">  
                        </div>
                    </div>

                </div>

            </section>

        </main>



        <!--===== FOOTER =====-->
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__img">
                    <img src="assets/icons/Logo_amigos_de_Jesus.png" alt="">
                </div>
                <div class="footer__link">
                    <a href="">Conocenos</a>
                    <a href="">Nuestros Programas</a>
                    <a href="documentos">Documentos legales</a>
                    <a href="contacto">Contactanos</a>
                    <ul class="footer__lista">
                        <li>"Fijo - 6738343"</li>
                        <li>+57 313 395 76 93</li>
                        <li>+57 313 807 72 36</li>                
                    </ul>
                </div>
                <div class="footer__social">
                    <a href="https://www.facebook.com/funajee" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                    <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" class="footer__icon"><i class='bx bxl-youtube' ></i></a>
                </div>
                <p class="footer_copy">&#169; copyright Todos Los Derechos Reservados. 2019 - <span id="yeard_current"></span></p>
            </div>

        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/helpers.js"></script>
        
    </body>
</html>
