<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="assets/css/reglas_nav_banner.css">
        <link rel="stylesheet" href="assets/css/soy_util.css">
        <link rel="stylesheet" href="assets/css/footer.css">



        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <!-- ========= Favicon ========== -->

        <link rel="shortcut icon" type="image/jpg" href="assets/icons/fabicon.png"/>

        <title>Soy Util - Fundación Para La Niñez | Funaje</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <img src="assets/icons/mini_logo_funaje.png" alt="" height="40px" width="40px">
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="home" class="nav__link ">QUIENES SOMOS</a></li>
                        <li class="nav__item"><a href="conocenos" class="nav__link ">CONOCENOS</a></li>

                        <li class="nav__item nav_horizontal">
                            <span class="nav__link">PROGRAMAS</span>

                            <ul class="nav__item programas_nav">
                                <li class="programas_nav_li"><a href="soyimportante" class="nav__link link_program">Soy Importante</a></li>
                                <li class="programas_nav_li"><a href="saludybienestar" class="nav__link link_program">Salud Y Bienestar</a></li>
                                <li class="programas_nav_li"><a href="habilidades" class="nav__link link_program">Habilidades</a></li>
                                <li class="programas_nav_li "><a href="soyutil" class="nav__link link_program">Soy Util</a></li>
                            </ul>
       
                        </li>
                        <li class="nav__item"><a href="agenda" class="nav__link">AGENDA</a></li>
                        <li class="nav__item"><a href="contacto" class="nav__link">CONTACTO</a></li>
                        <li class="nav__item"><a href="login" class="nav__link"><i class='uil uil-user'></i></a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
          <!--==================== HOME ====================-->
            <section class="home " id="home">

                <div class="home__container">
                    <div class="home__info">
                        <h1>Sirviendo a mi comunidad</h1>
                        <p>Para nosotros la importancia de enseñar a los niños a ser útiles en la sociedad radica en el desarrollo de habilidades fundamentales para su crecimiento personal y su contribución al bienestar colectivo. Fomentar en ellos la capacidad de ser útiles promueve valores como la responsabilidad, la empatía y el sentido de pertenencia, permitiéndoles comprender desde temprana edad que forman parte activa de su entorno y que sus acciones pueden generar un impacto positivo en la comunidad. Además, les brinda la oportunidad de desarrollar habilidades prácticas y sociales que les serán útiles a lo largo de su vida, preparándolos para enfrentar los desafíos y contribuir de manera constructiva al mundo que los rodea.</p>
                        <div class="home__butoms">
                            <a class="home__apoyar" href="apoyar">Quiero Apoyar</a>
                        </div>
                    </div>
                </div>
              
            </section>

            <!--===== About =====-->
            <section class="about section " id="about">
                <h2 class="section-title">¿De que trata?</h2>
                
                <div class="about__container bd-grid ">
                      
                    <div class="about__texo">
                        <p class="about__texo" >El programa "Soy Útil" de la Fundación Amigos de Jesús tiene como objetivo principal promover el desarrollo integral de niños y jóvenes, capacitándolos para ser agentes de cambio positivo en sus comunidades. A través de actividades prácticas y formativas, el programa se enfoca en:</p>
                    </div>

                </div>
                <div class="about__container--grid">
                    <div class="about__card card-transparent">
                        <p><strong>Educación para la acción:</strong> 
                        Proporciona herramientas educativas que fomentan la reflexión y la acción en temas sociales, ambientales y culturales, incentivando la participación activa de los niños y jóvenes en la solución de problemas.</p>
                    </div>
                    <div class="about__card card-transparent">
                        <p><strong>Formación en valores:</strong>
                        Imparte valores éticos como la solidaridad, el respeto, la justicia y la responsabilidad social, promoviendo la construcción de una sociedad más justa y equitativa.</p>
                    </div>
                    <div class="about__card card-transparent">
                        <p><strong>Desarrollo de habilidades prácticas:</strong>
                        Ofrece talleres y actividades que desarrollan habilidades prácticas, tales como el trabajo en equipo, la comunicación efectiva, el liderazgo y la resolución de conflictos, preparando a los participantes para enfrentar los desafíos de manera constructiva.</p>
                    </div>
                    <div class="about__card card-transparent">
                        <p><strong>Inclusión social:</strong> 
                        Promueve la inclusión social de niños y jóvenes en situación de vulnerabilidad, ofreciéndoles espacios seguros y oportunidades para desarrollar su potencial, sin importar su origen étnico, cultural o socioeconómico.</p>
                    </div>
                    <div class="about__card card-transparent">
                        <p><strong>Participación comunitaria:</strong>
                        Estimula la participación activa de los niños y jóvenes en actividades comunitarias y proyectos de servicio, fortaleciendo su sentido de pertenencia y compromiso con su entorno.</p>
                    </div>
                    <div class="about__card card-transparent">
                        <p><strong>Empoderamiento:</strong>
                        Busca empoderar a los participantes, brindándoles las herramientas y el apoyo necesario para que se conviertan en agentes de cambio en sus comunidades, promoviendo la igualdad de oportunidades y la construcción de un futuro más prometedor para todos.</p>
                    </div>
                </div>
                
                <div class="about__container bd-grid ">
                    <div class="about__texo">
                        <p>El programa "Soy Útil" de la Fundación Amigos de Jesús capacita a niños y jóvenes para ser agentes de cambio positivo en sus comunidades. A través de actividades educativas, formación en valores, desarrollo de habilidades prácticas, inclusión social, participación comunitaria y empoderamiento, prepara a los participantes para enfrentar desafíos y construir un futuro mejor para todos.</p>
                    </div>
                    
                    <div class="about__card card4">
                        <div class="about__card-imagen"></div>
                        <p>¡Únete a la Fundación Amigos de Jesús y sé parte del cambio! Tu aporte ayuda a formar líderes altruistas y transformar comunidades.</p>
                    </div>

                </div>

            </section>

        </main>



        <!--===== FOOTER =====-->
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__img">
                    <img src="assets/icons/Logo_amigos_de_Jesus.png" alt="">
                </div>
                <div class="footer__link">
                    <a href="conocenos">Conocenos</a>
                    <a href="">Nuestros Programas</a>
                    <a href="documentos">Documentos legales</a>
                    <a href="contacto">Contactanos</a>
                    <ul class="footer__lista">
                        <li>"Fijo - 6738343"</li>
                        <li>+57 313 395 76 93</li>
                        <li>+57 313 807 72 36</li>                
                    </ul>
                </div>
                <div class="footer__social">
                    <a href="https://www.facebook.com/funajee" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                    <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" class="footer__icon"><i class='bx bxl-youtube' ></i></a>
                </div>
                <p class="footer_copy">&#169; copyright Todos Los Derechos Reservados. 2019 - <span id="yeard_current"></span></p>
            </div>

        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="assets/js/helpers.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
